.destination-element {
  background-image: url("../../public/assets/destination/background-destination-desktop.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-divs-destination {
  display: flex;
  margin: 3rem;
  gap: 8rem;
}

.planet-buttons-destination {
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.planet-buttons-destination button {
  font-size: 1.5rem;
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
}

.planet-buttons-destination button:hover{
  border-bottom: 3px solid #979797;
}

button.active-nav-link:hover, button.active-nav-link {
  border-color: #fff;
}

.planet-name {
  font-family: 'Bellefair', 'sans-serif';
  font-size: 6rem;
  font-weight: 100;
  margin: 40px 0px;
}

.planet-description-destination {
  text-transform: none;
  line-height: 1.8rem;
  padding-bottom: 50px;
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.distance-time-destination {
  display: flex;
}

.distance-destination {
  margin-right: 5rem;
}

.time-p,
.avg-distance-p {
  margin-bottom: 10px;
}

.time-title,
.avg-distance-title {
  font-size: 1.5rem;
  font-weight: 100;
}

@media (max-width: 1300px){
  .main-divs-destination{
    gap:4rem;
  }

}

@media (max-width: 1200px) {
  .time-title,
  .avg-distance-title {
    font-size: 1.3rem;
  }

  .main-content.main-destination{
    padding: 1rem 5rem;
  }

}

@media (max-width: 1080px) {
  .destination-element {
    background-image: url("../../public/assets/destination/background-destination-tablet.jpg");
  }

  .main-divs-destination {
    flex-direction: column;
  }

  .planet-img-destination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 870px) {
  .destination-element {
    background-image: url('../../public/assets/destination/background-destination-mobile.jpg') ;
  }
  
  .main-divs-destination {
    margin: 15px;
    gap: 40px;
  }

  .main-content.main-destination{
    padding: 1rem 2rem;
  }

  .planet-name {
    font-size: 4rem;
  }

  .planet-img {
    height: 50vw;
  }

  .distance-time-destination h3 {
    font-size: 1.2rem;
  }

  .planet-buttons-destination {
    width: 100%;
  }
}
