@import url('./styles/home.scss');
@import url('./styles/destination.scss');
@import url('./styles/crew.scss');
@import url('./styles/technology.scss');

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}